<!--

Template: FA Content (4 pillars)

-->
<script>
    var template = Handlebars.compile($("#fa-content-template").html());
    $('#fa-content').html(template());
    var template = Handlebars.compile($("#fa-content-osn-template").html());
    $('.fa-content-osn').html(template());
    var template = Handlebars.compile($("#search-template").html());
    $('#search').html(template());
</script>
<script type="text/html" id="fa-content-template">
    <!-- Nav tabs -->
    <div id="fa-pillars-nav">
        <div class="container">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active">
                    <a href="#lob-learn" aria-controls="home" role="tab" data-toggle="tab">
                        <table>
                            <tr>
                                <td class="td-icon rounded"> <img src="img/overview.png"> </td>
                                <td class="td-content ">
                                    <h4>Overview</h4>
                                    <p>What is a Touch The Cloud Workshop Event?</p>
                                </td>
                            </tr>
                        </table>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#lob-position" aria-controls="profile" role="tab" data-toggle="tab">
                        <table>
                            <tr>
                                <td class="td-icon rounded"> <img class="rounded" src="img/collateral.png"> </td>
                                <td class="td-content">
                                    <h4>Collateral</h4>
                                    <p>All the documents to promote and run a Touch the Cloud Workshop</p>
                                </td>
                            </tr>
                        </table>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#lob-win" aria-controls="profile" role="tab" data-toggle="tab">
                        <table>
                            <tr>
                                <td class="td-icon rounded"> <img src="img/how-to.png"> </td>
                                <td class="td-content">
                                    <h4>How to run a Touch The Cloud Workshop</h4>
                                    <p></p>
                                </td>
                            </tr>
                        </table>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="fa-pillars-content" class="section section-content section-light-grey tab-content link-boxes-ctd">
        <div id="lob-learn" class="tab-pane fade in active">
            <div class="container" style="padding: 40px 15px;">
                <div class="panel panel-sake">
                    <h3 class="collapse-title">About:</h3>
                    <div id="home-focus-areas" class="row collapse in">
                        <br />
                        <div class="col-md-12">
                            <p>Oracle has invested in delivering a plethora of new Cloud Services and we want to show our customers how simple – yet powerful they are. We want to showcase their simplicity for the IT and for the non-IT community alike. We want to demonstrate how powerful they are, and how they should be considered as tools that can help an IT organization take the right steps in transforming for the Digital era. </p>
                            <p>We believe the best way to do this is to let our customers develop a real world business solution using our cloud services, hands-on! </p>
                            <p>Therefore, we have prepared an event where we can give customers access to a number of Oracle Cloud Services, whilst we have Oracle experts guide them in using our tools. Customers browse screens, configure integrations, develop processes and create a mobile applications as part of a guided “Touch The Cloud experience”.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="white-box-panel white-box-1">
                                        <h4>What is this event about?</h4>
                                        <ul>
                                            <li>
                                                <p>Allowing the customers to get an appreciation of Oracle’s cloud services by “touching” our services by following some very basic hands-on labs</p>
                                            </li>
                                            <li>
                                                <p>This is note a training activity, i.e we do not expect that customers will go away knowing how to do integration etc - they just need to get an understanding and appreciation of Oracle's low code high productivity cloud services</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 white-box-1">
                                    <div class="white-box-panel">
                                        <h4>Services Included:</h4>
                                        <p>Cloud Services covered in this event are:</p>
                                        <p>&raquo; Integration Cloud Service</p>
                                        <p>&raquo; Process Cloud Service</p>
                                        <p>&raquo; Mobile Cloud Service</p>
                                        <p>&raquo; Mobile Accelerator</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-sake">
                    <h3 class="collapse-title">Sample Agenda:</h3>
                    <div>
                        <br />
                        <div class="table-wrapper" style="font-size:16px;">
                            <div class="table-header table-green">
                                <div class="table-cell"> </div>
                                <div class="table-cell"> Time </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell"> Registration </div>
                                <div class="table-cell"> 08:30 - 08:45 </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell"> Quote to Order - SaaS to On Premise </div>
                                <div class="table-cell"> 08:45 - 09:00 </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell"> Custom Quote Capture - MAX - MCS </div>
                                <div class="table-cell"> 09:00 - 10:30 </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell"> Break </div>
                                <div class="table-cell"> 10:30 - 11:00 </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell"> Approval Process Orchestration - PCS </div>
                                <div class="table-cell"> 11:00 - 12:30 </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell"> Lunch </div>
                                <div class="table-cell"> 12:30 - 13:00 </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell"> Integrate with On Premise ERP - ICS </div>
                                <div class="table-cell"> 13:00 - 14:30 </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell"> End to End Visibility and Analytics </div>
                                <div class="table-cell"> 14:30 - 15:30 </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell"> Close and Summary </div>
                                <div class="table-cell"> 15:30 - 16:00 </div>
                            </div>
                        </div>
                        <!-- <br />-->
                    </div>
                </div>
                <div class="panel panel-sake">
                    <h4 class="collapse-title">Organizing Such an Event:</h4>
                    <div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <p>We have pre-packaged all the material and Cloud accounts required so other than arranging the logistics and inviting the customers you are good to go!</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="white-box-panel white-box-2">
                                            <h4>What is available:</h4>
                                            <ul>
                                                <li>
                                                    <p> Methodology for running your event</p>
                                                </li>
                                                <li>
                                                    <p>Documentation for the labs the customers will need to follow - these are easy to use</p>
                                                </li>
                                                <li>
                                                    <p> ICS, PCS, MCS and MAX environments to run the labs on</p>
                                                </li>
                                                <li>
                                                    <p> Marketing material (brochure, flyer)</p>
                                                </li>
                                                <li>
                                                    <p> A master presentation to be used to drive the day. </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="white-box-panel white-box-2">
                                            <h4>Target:</h4>
                                            <ul>
                                                <li>
                                                    <p><strong>Customer</strong></p>
                                                    <ul>
                                                        <li>
                                                            <p>Having a strategic apps modernization goal</p>
                                                        </li>
                                                        <li>
                                                            <p>E-business Suite install base</p>
                                                        </li>
                                                        <li>
                                                            <p>SaaS install base</p>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <p><strong>Audience:</strong></p>
                                                    <ul>
                                                        <li>
                                                            <p>Business Analysts that liaise with IT</p>
                                                        </li>
                                                        <li>
                                                            <p>Apps-IT Developers</p>
                                                        </li>
                                                        <li>
                                                            <p>Architects</p>
                                                        </li>
                                                        <li>
                                                            <p>Developers</p>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <p><strong>No expertise or experience required.</strong></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Who delivers the workshop?</h4>
                                        <p>Facilitation of the event is provided by Oracle NAS Platform specialists. Each event is aimed at enabling the local sales and sales consulting team to replicate the approach as they wish. </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="white-box-panel  white-box-1">
                                            <h4>What is needed from YOU:</h4>
                                            <ul>
                                                <li>
                                                    <p>To schedule the event, identify and invite the customers </p>
                                                </li>
                                                <li>
                                                    <p>Let the Platform specialist team know when are where this is looking to take place</p>
                                                </li>
                                                <li>
                                                    <p>To source a location with good internet connectivity. It could be hosted in an Oracle office or another location (for example a partner office, customer premises)</p>
                                                </li>
                                                <li>
                                                    <p>To provision catering for the day</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="white-box-panel white-box-1">
                                            <h4>What customers need to bring:</h4>
                                            <ul>
                                                <li>
                                                    <p>A laptop and a mobile phone (iOS or Android)- that's it!</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Next Steps if you are interested to proceed:</h4>
                                        <ul>
                                            <li>
                                                <p>Please align with the NAS Platform Specialist team (<a href="https://people.us.oracle.com/pls/oracle/f?p=8000:2:::::PERSON_ID:336811311959241">Vijay Pawar</a> and <a href="https://people.us.oracle.com/pls/oracle/f?p=8000:2:100309250387929::NO::PERSON_ID:546681746277753">Geries Abouayash</a>) on a date for running such an event. </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>About the Cloud Services:</h4>
                                        <p>Oracle provides a wide variety of Cloud Services to enable the modern, hybrid IT. In this event we focus on a set of Infrastructure and Platform as a Service tools that fit well together to cover an organizations integration, process and application development needs. </p>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-wrapper cs-table">
                                            <div class="table-header table-green">
                                                <div class="table-cell"> Integration Cloud Service </div>
                                                <div class="table-cell"> Process Cloud Service </div>
                                                <div class="table-cell"> Mobile Accelerator </div>
                                                <div class="table-cell"> Mobile Cloud Service </div>
                                            </div>
                                            <div class="table-row">
                                                <div class="table-cell"> Integrate SaaS to SaaS and SaaS to on premise Applications </div>
                                                <div class="table-cell"> Drive business process automation that can span cloud and on premise activities </div>
                                                <div class="table-cell"> Mobile development service that lets a line of business user, create and deploy mobile applications. </div>
                                                <div class="table-cell"> Mobile backend as a service for the Enterprise </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #lob-position -->
        <div id="lob-position" class="tab-pane fade">
            <div class="panel panel-sake">
                <div class="container" style="padding: 40px 15px;">
                    <h3 class="collapse-title">How We Do It </h3>
                    <div>
                        <br>
                        <div class="row download-box-wrapper">
                            <div class="col-md-4 download-box">
                                <a href="https://stbeehive.oracle.com/content/dav/st/Technology%20and%20Systems/web/docs/cloud-test/Agenda-v2-Main.pptx" class="download-trigger"> <img src="./Cloud Test Drive_files/agenda-download.png"> <i class="fa fa-download hover-icon round"></i> </a>
                                <h5>Agenda</h5> </div>
                            <div class="col-md-4 download-box">
                                <a href="https://stbeehive.oracle.com/content/dav/st/Technology%20and%20Systems/web/docs/cloud-test/Cloud%20Test%20Drive%20-%20Feedback%20-%20Generic%20-%20v3.doc" class="download-trigger"> <img src="./Cloud Test Drive_files/cloud-feedback.png"> <i class="fa fa-download hover-icon round"></i> </a>
                                <h5>Touch The Cloud Feedback  </h5> </div>
                            <div class="col-md-4 download-box">
                                <a href="https://stbeehive.oracle.com/content/dav/st/Technology%20and%20Systems/web/docs/cloud-test/Cloud-Test-Drive-Internal.pptx" class="download-trigger"> <img src="./Cloud Test Drive_files/cloud-test-drive.png"> <i class="fa fa-download hover-icon round"></i> </a>
                                <h5>Touch The Cloud Internal presentation</h5> </div>
                        </div>
                        <div class="row download-box-wrapper">
                            <!--
                            <div class="col-md-4 download-box">
                                <a href="docs/cloud-test/diagram.png" class="download-trigger">
                                    <img src="img/cloud-test/diagram_1.jpg">
                                    <i class="fa fa-download hover-icon round"></i>
                                </a>
                                <h5>Requestfollow up</h5>
                            </div>
-->
                            <div class="col-md-4 download-box">
                                <a href="https://stbeehive.oracle.com/content/dav/st/Technology%20and%20Systems/web/docs/cloud-test/20170124A01.CTD%20Brochure.General-v7.pdf" class="download-trigger"> <img src="./Cloud Test Drive_files/ctg-brochure.png"> <i class="fa fa-download hover-icon round"></i> </a>
                                <h5>External brochure for the Touch The Cloud Workshop  </h5> </div>
                            <!--
                            <div class="col-md-4 download-box">
                                <a href="docs/cloud-test/img1.pptx" class="download-trigger">
                                    <img src="img/cloud-test/diagram_0.png">
                                    <i class="fa fa-download hover-icon round"></i>
                                </a>
                                <h5>Let customers explore our PaaS and IaaS via a Hands-on Event!</h5>
                            </div>
-->
                            <div class="col-md-4 download-box">
                                <a href="https://stbeehive.oracle.com/content/dav/st/Technology%20and%20Systems/web/docs/cloud-test/20170124B01.CTD%20Sample%20Flyer.PrintQuality-v1.pptx" class="download-trigger"> <img src="./Cloud Test Drive_files/cloud-platform.png"> <i class="fa fa-download hover-icon round"></i> </a>
                                <h5>Example customer Flyer</h5> </div>
                            <div class="col-md-4 download-box">
                                <a href="https://oradocs-corp.documents.us2.oraclecloud.com/documents/link/LFF2CF4D33CE2DB9C9867F7BF6C3FF17C1177A968060/folder/FDBDA8BF742EDFA42EFDB864F6C3FF17C1177A968060/_Cloud_Test_Drive_Internal" class="download-trigger" target="_blank"> <img src="./Cloud Test Drive_files/OracleDocs3.png"> <i class="fa fa-download hover-icon round"></i> </a>
                                <h5>Oracle Docs folder with all TTC collateral</h5> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#lob-position -->
        <!-- #lob-win -->
        <div id="lob-win" class="tab-pane fade">
            <div class="panel panel-sake">
                <div class="container" style="padding: 40px 15px;">
                    <h4>Please contact the  NAS Platform Specialist team to assist you in setting up an event in your region:</h4>
                    <br>
                    <div id="home-focus-areas" class="row collapse in">
                        <!--BOX BEGIN -->
                        <div class="col-sm-6">
                            <div class="">
                                <div class="panel panel-box">
                                    <div class="panel-body">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="td-content">
                                                        <h4>Vijay Pawar</h4>
                                                        <p>Master Principal Sales Consultant</p>
                                                        <p><a href="mailto:vijay.pawar@oracle.com"><i class="fa fa-envelope"></i> E-mail »</a></p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--BOX END -->
                        <!--BOX BEGIN -->
                        <div class="col-sm-6">
                            <div class="">
                                <div class="panel panel-box">
                                    <div class="panel-body">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="td-content">
                                                        <h4>Geries Abouayash</h4>
                                                        <p>Sr. Director Platform Specialist Team</p>
                                                        <p><a href="mailto:geries.abouayash@oracle.com"><i class="fa fa-envelope"></i> E-mail »</a></p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--BOX END -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#lob-win -->
        <!-- #lob-adopt -->
        <div id="lob-adopt" class="tab-pane fade">
            <div id="lob-adopt-container"> {{#Engage}}
                <div class="section">
                    <div class="container">
                        <div class="panel-left">
                            <h4>{{sectiontitle}}</h4></div>
                        <div class="panel-space">&nbsp; </div>
                        <div class="panel-right">
                            <div class="row"> {{#items}}
                                <div class="col-sm-4">
                                    <a href="{{url}}" class="panel-a" target="_blank">
                                        <div class="panel panel-box {{tag}}">
                                            <div class="panel-body">
                                                <table>
                                                    <tr>
                                                        <td class="td-icon-small"><i class="fa fa-{{icon}}"></i></td>
                                                        <td class="td-content">
                                                            <h4>{{title}}</h4>
                                                            <p>{{description}}</p>
                                                        </td>
                                                    </tr>
                                                </table><span class="i-indicate">+</span>
                                                <div class="hover-overlay">
                                                    <div class="triangle-left"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div> {{/items}} </div>
                        </div>
                    </div>
                </div> {{/Engage}} </div>
        </div>
        <!-- /#lob-adopt -->
    </div>
</script>
<script type="text/html" id="fa-content-osn-template">
    <div class="bg-holder fa-bg-holder">
        <div class="container">
            <div class="gap gap-big">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Lorem Ipsum Dolor Si Amet</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at interdum sem. In quis diam nec orci tincidunt laoreet sed at justo. Quisque vitae massa dolor.</p><a href="https://socialnetwork.oracle.com/osn/web/#conversation:id=79235782&m=NOT_SET" target="_blank" class="btn btn-ghost">Join Conversation</a></div>
                    <div id="iframe-osn-col" class="col-sm-6">
                        <div id="iframe-osn-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<!--

Template: Search

-->
<script id="search-template" type="text/html">
    <div class="container"> <span id="content-search">
            <input type="text" id="con-search" placeholder="Search" class="tt-input" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;"><i class="fa fa-search"></i><br>
        </span> </div>
</script>
<script>
    var search_substringMatcher = function (strs) {
        return function findMatches(q, cb) {
            var matches, substringRegex;
            // an array that will be populated with substring matches
            matches = [];
            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');
            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function (i, str) {
                if (substrRegex.test(str)) {
                    matches.push(str);
                }
            });
            cb(matches);
        };
    };
    var $con_search_feed = [];
    var $con_hidden_search = {};
    $.each(data, function ($data_k1, $data_v1) {
        //if ($data_k1 === "Learn" || $data_k1 === "Position" || $data_k1 === "Win" || $data_k1 === "Adopt")
        if ($data_k1 !== "ContentSet") {
            $.each($data_v1, function ($data_k2, $data_v2) {
                var $data_items = $data_v2['items'];
                $.each($data_items, function ($index, $detail) {
                    var $clean_title = $detail['title'];
                    var $description_small = '<br><small>' + $detail['description'] + '</small>';
                    var $tag = ' <span class="con-search-tag new">' + $detail['tag'].toUpperCase() + '</span>'
                    $con_search_feed.push('***' + $detail['url'] + '***' + $clean_title + $tag + $description_small);
                });
            });
        }
    });
    $('#con-search').typeahead({
        hint: true
        , highlight: true
    , }, {
        name: 'sr_con_search'
        , limit: 12
        , source: search_substringMatcher($con_search_feed)
        , display: function (data) {
            return data.replace(/\*\*\*.+\*\*\*/, '').split(' <span ')[0];
        }
        , templates: {
            suggestion: function (data) {
                console.log(data.lastIndexOf("***"));
                var link = data.substring(data.indexOf("***") + 3, data.lastIndexOf("***"));
                return '<a href="' + link + '" target="_blank" class="sr-search-item">' + data.replace(/\*\*\*.+\*\*\*/, '') + '</a>';
            }
        }
    });
</script>